.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-2.wp-container-core-columns-is-layout-2 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-3.wp-container-core-columns-is-layout-3 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-4.wp-container-core-columns-is-layout-4 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-5.wp-container-core-columns-is-layout-5 {
    flex-wrap: nowrap;
}