.wp-block-c3-framew-gutenbergblocks-timeline {
    --timeline-color: rgba(188, 150, 230, 1);
    --padding-timeline-event: 30px;
    --bullet-border-width: 3px;
    --bullet-border: var(--bullet-border-width, 3px) solid white;
    --cwidth: 1.2rem;
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper {
    list-style: none;
    margin: 0 0 0 2.5rem;
    padding-left: 0;
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper ul.gbt-timeline-content-wrapper {
    border-left: 0 none;
    list-style: initial;
    margin: 0.8rem 0 0;
    padding: 0 0 0 1rem;
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper>li {
    position: relative;
    padding: var(--padding-timeline-event, 30px) 25px var(--padding-timeline-event, 30px);
    border-left: 3px solid var(--timeline-color, rgba(188, 150, 230, 1));
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper ul.gbt-timeline-content-wrapper>li {
    padding: 0 0 15px;
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper>li:before {
    border: var(--bullet-border, 3px solid white);
    border-radius: 50%;
    background: var(--timeline-color) center center no-repeat;
    content: ' ';
    z-index: 1;
    width: var(--cwidth);
    height: var(--cwidth);
    display: block;
    position: absolute;
    left: calc((-1 * var(--cwidth)) / 2 - var(--bullet-border-width) / 2);
    top: calc(var(--padding-timeline-event, 30px) + var(--cwidth) / 4 - var(--bullet-border-width));
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper ul.gbt-timeline-content-wrapper>li:before {
    background-image: none;
    display: none;
}

.wp-block-c3-framew-gutenbergblocks-timeline ul.gbt-timeline-content-wrapper>li img {
    padding: 1rem 0;
    display: block;
}